.image-result{
    display: flex;
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
}

.health-labels {
    font-size: 0.8em;
}

.save {
    color: black;
}

.saved-button {
    background: darkslategrey;
    color:white;
}