.image-result{
    display: flex;
    width: 50%;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 5px;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    padding: 10px 10px;
}
.result a {
    color: black;
}
.label {
    padding: 10px 0;
}

.health-labels {
    font-size: 0.8em;
}

.save {
    background: #669D31;
    color: white;
    font-size: 1rem;
    padding: 5px 0;
    max-width: 250px;
}

.saved-button {
    background: #FF5714;
    border: 1px solid #FF5714;
    color:white;
    font-size: 1rem;
    padding: 5px 0;
    max-width: 250px;
}

@media only screen and (max-width: 948px) {
    .result {
        min-width: 300px;
        justify-content: center;
    }
}