.welcome-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url(../img/food.jpg);
    background-size: cover;
    background-position: fixed;
    margin-top: 0;
}

.meal-planner-app {
    margin-top: 50px;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
}

.welcome-page button {
    background-color: #669D31;
    color: white;
    border: none;
    padding: 5px 5px;
}
