.meal-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    background: url(../img/food.jpg);
    background-size: cover;
    background-position: fixed;
  }
  .search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    min-height: 200px;
    text-align: center;
    padding: 30px 30px;
    color:#FDFFFC;
  }
  .search input {
    max-width: 500px;
  }

  .error-message {
      color: rgb(243, 72, 29);
      background-color:rgb(255, 226, 219, 0.7);
      border-radius: 5px;
      padding: 10px 10px;
      max-width: 400px;
  }
  select {
    margin-bottom: 10px;
  }
  select:hover, button:hover  {
    cursor: pointer;
  }
  .meal-search button:hover {
    background-color: rgba(179, 172, 172, 0.8);
    color: white;
  }
 .loader-notification {
   display: flex;
   justify-content: center;
   padding-top: 10px;
 }