.image {
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
 .about:nth-child(even) {
    background: #669D31;
  }
  .about:nth-child(odd){
    background: #FDFFFC;
  }
  .about {
   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    min-height: 300px;
    padding: 30px 30px;
    padding-top: 100px;
    margin: 0 auto;
  }
  .about p {
    text-align: center;
    max-width: 500px;
  }
  
  section p {
    width: 60%;
  }
  .image p {
    color: white;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    .image {
      height: 250px;
      width: 350px;
    }
  }