.meal-builder {
    border: 1px solid black;
    padding: 30px 30px;
    min-width: 200px;
    width: 80%;
    text-align: center;
}
.meal-builder input, label {
    margin-bottom: 10px;
}
.meal-builder-recipe {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.saved-meals {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
